#home h2{
    font-family: cursive;
    font-weight: bold;
    text-underline-position: below;
    font-size: 50;
}
.container{
    text-align: center;
}
#home img{
    width: auto;
    height: auto;
}
#marquee{
    font-size: 30px;
    font-family: cursive;
    color: cyan;
    font-weight: bold;
}